@model Rental

@{
    ViewData["Title"] = "Add a new rental";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Rental</h1>
        </p>
        <div class="col-md-8 offset-2">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <input asp-for="CarId" class="form-control" />
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <input asp-for="ClientId" class="form-control" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>              
                
            </form>
        </div>
    </div>
    </div>

